<div class="row">
  <div class="col-sm-4">
    <h1>{{article.title}}</h1>
    <h5>{{article.author}}</h5>
    <p>{{article.date}} <strong>{{article.category}}</strong></p>
  </div>
  <div class="col-sm-8">
    <img class='img-responsive' src={{article.image}} alt={{article.title}} />
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <p>{{article.body}}</p>
  </div>
</div>
